@charset "UTF-8";
body{
	padding: 0 50px;
}
h1{
    color:red;
}
a{
	text-decoration:none;
}
td:hover {
	opacity: 1
}


ul{
	padding: 10px;
}
td, th{
		border: 1px solid black;
		text-align: right;
		font-size: 20px;
		vertical-align: top;
		width: 100px;
		height: 40px;
}
th{
	height: 30px;
	
}


.score{
}

.res{
		background-color: #FDF5E6;
		font-weight: bold;
		
	
}

.up{
	background-color: #7FFF00;
}
.down{
	background-color: yellow;
}
.num{
	width: 70%;
	float: left;
}
.mark{
	width: 20%;
	float: right;
	
}
