@charset "UTF-8";
body{
	padding: 0 50px;
}
h1{
    color:red;
}
a{
	text-decoration:none;
}

td, th{
		height:120px; 
		width: 120px;
		border: 1px solid black;
		text-align: left;
		vertical-align: top;
}
th{
	height: 30px;
	
}

.day{
	
	height:50px; 
	display: inline-block;
	border: 1px solid black;
	float: left;
	//background-color: yellow;
}

.dayName{
	
	height:20px; 
	display: inline-block;
	border: 1px solid black;
	float: left;
	text-align: center;
}


#head{
	width:400px;
	height:30px;
	border: 1px solid black;
	text-align: center;
}

input{
	border: 0px;
}
.schedule  {
	/* background-color: #FFE4C4 */
}

.schedule :nth-of-type(2n) {
	background-color: #FFE4C4
}

.schedule :nth-of-type(2n-1) {
	background-color: #7FFFD4
}